In [46]:
import numpy as np
import numpy.linalg as la
import scipy
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
'''
Year Stock  Bond
2009 26.49% 6.04%
2010 14.91% 6.54%
2011 1.97% 7.69%
2012 15.82% 4.15%
2013 32.18% -2.15%
2014 13.51% 5.89%
2015 1.25% 0.40%
2016 11.82% 2.60%
2017 21.67% 3.56%
2018 -4.52% -0.03%
'''
stock = np.array([26.49, 14.91, 1.97, 15.82, 32.18, 13.51, 1.25, 11.82, 21.67, -4.52])
stock = stock/100
bond = np.array([6.04, 6.54, 7.69, 4.15, -2.15, 5.89, 0.4, 2.6,3.56, -0.03])
bond = bond/100
data = {"Stock": stock, "Bond": bond}
data = pd.DataFrame(data)
data = data[["Stock","Bond"]]
data

    Stock    Bond
0  0.2649  0.0604
1  0.1491  0.0654
2  0.0197  0.0769
3  0.1582  0.0415
4  0.3218 -0.0215
5  0.1351  0.0589
6  0.0125  0.0040
7  0.1182  0.0260
8  0.2167  0.0356
9 -0.0452 -0.0003

In [50]:
# calculate mean
mean_vec = np.array(data.mean())
mean_vec

array([0.1351 , 0.03469])

In [51]:
# demean the data
demeaned_data = data.copy()
demeaned_data["Stock"] -= mean_vec[0]
demeaned_data["Bond"] -= mean_vec[1]

demeaned_data

    Stock     Bond
0  0.1298  0.02571
1  0.0140  0.03071
2 -0.1154  0.04221
3  0.0231  0.00681
4  0.1867 -0.05619
5  0.0000  0.02421
6 -0.1226 -0.03069
7 -0.0169 -0.00869
8  0.0816  0.00091
9 -0.1803 -0.03499

In [52]:
# calculate mean again
demeaned_data.mean()

Stock   -2.775558e-18
Bond    -5.551115e-18
dtype: float64

In [59]:
# calculate cov matrix
mat = np.array(demeaned_data)
cov_mat = (mat.T @ mat)/len(demeaned_data)
pd.DataFrame(cov_mat)

          0         1
0  0.012023 -0.000114
1 -0.000114  0.000942

In [49]:
# inv cov matrix 
inv_cov = la.inv(cov_mat)
pd.DataFrame(inv_cov)

           0            1
0  83.267036    10.122137
1  10.122137  1063.012487

In [58]:
np.cov(mat, rowvar = False, bias = True)

array([[ 0.01202347, -0.00011449],
       [-0.00011449,  0.00094181]])